// Colours - https://developer.apple.com/design/human-interface-guidelines/color
$primary: #007aff;
$secondary: #ffcc00;
$success: #34c759;
$info: #af52De;
$warning: #ff5900;
$danger: #ff3b30;
$light: #FBFCFF;
$dark: #181c20;

// Body
$body-color: #4C5966;
$body-bg: #ffffff;

$body-secondary-color: #98A8B2;

// Components
$border-color: #F4F5FC;

// Typography
$headings-color: #181c20;

$hr-color: $border-color;

$hr-bg-color: $border-color;

$hr-border-color: $border-color;

// Tables
$table-color: $body-color;
$table-bg: $body-bg;

$table-active-color: $body-color;
$table-active-bg: $light;

$table-hover-color: $body-color;
$table-hover-bg: $light;

$table-border-color: $border-color;

// Forms
$input-border-color: darken(#F4F5FC, 3.25%); // Check with haz

// Navs
$nav-link-color: $body-color;
$nav-link-hover-color: $dark;

$nav-tabs-link-hover-border-color: $light;
$nav-tabs-link-active-color: $primary;
$nav-tabs-link-active-bg: transparent;
$nav-tabs-link-active-border-color: $primary;
$offcanvas-backdrop-bg: $black;

// Dropdowns
$dropdown-border-color: darken($border-color, 7.5%);
$dropdown-divider-bg: $border-color;

$dropdown-link-color: $body-color;

$dropdown-link-hover-color: $dark;
$dropdown-link-hover-bg: $light;

$dropdown-link-active-color: $dark;
$dropdown-link-active-bg: $light;

$dropdown-link-disabled-color: $body-secondary-color;

$dropdown-header-color: $body-secondary-color;

// Progress bars
$progress-bg: darken($light, 0.25%);
$progress-bar-color: $dark;
$progress-bar-bg: $primary;

// Other
$selection-bg: $primary;
$selection-color: $dark;
