.ui {

  &-menu.ui-widget.ui-autocomplete {
    border-radius: $dropdown-border-radius;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: $border-width solid $dropdown-border-color;
    box-shadow: none;
    padding: $dropdown-padding-y 0;

    & .ui-menu-item a {
      color: $dropdown-link-color;
      font-family: $font-family-sans-serif;
      font-size: $dropdown-font-size;
      font-weight: $font-weight-medium;
      line-height: $line-height-lg;
      padding: $dropdown-item-padding-y $dropdown-item-padding-x;

      &.ui-state-hover,
      &.ui-state-active {
        background: $dropdown-link-hover-bg;
        border-color: none;
        color: $dropdown-link-hover-color;
        font-weight: $font-weight-medium;
        margin: unset;
        text-shadow: none;
      }

      span {
        color: $body-secondary-color;
      }
    }
  }
}
