h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  letter-spacing: -0.02em;
}

.fw-semibold {
  font-weight: $fw-semibold !important;
}

.fw-extrabold {
  font-weight: $fw-extrabold !important;
}
