.btn {
  letter-spacing: -0.01em;
  transition: $md-transition;

  &-square {
    padding: 0;

    &.btn-sm {
      height: rem(36px);
      width: rem(36px);
    }
  }

  &-dropdown {
    transition: none;
    color: $text-secondary-color;

    &:hover,
    &.show {
      background: linear-gradient($white, $white) padding-box, linear-gradient(darken($border-color, 3%), darken($border-color, 5%)) border-box;
      box-shadow: 0 rem(1px 2px 0px) rgba($dark-color, 0.0875);
    }
  }

  &-white {
    background: linear-gradient($white, $white) padding-box, linear-gradient(darken($border-color, 1%), darken($border-color, 1.75%)) border-box;
    box-shadow: 0 rem(2px 3px -1px) rgba($dark-color, 0.075);

    @include button-variant(
      $background: $white,
      $border: darken($border-color, 3.25%),
      $color: $dark-color,
      $hover-background: $white,
      $hover-border: transparent,
      $hover-color: $dark-color,
      $active-background: $white,
      $active-border:transparent,
      $active-color: $dark-color,
      $disabled-background: $white,
      $disabled-border: lighten($border-color, 3.25%),
      $disabled-color: $text-secondary-color
    );

    &:hover {
      background: linear-gradient($white, $white) padding-box, linear-gradient(darken($border-color, 3%), darken($border-color, 5%)) border-box;
      box-shadow: 0 rem(1px 2px 0px) rgba($dark-color, 0.0875);
    }

    .input-group & {
      background-color: $white;
      border-color: $border-color;
      box-shadow: none;
    }
  }
}
