.ui {

  &-widget {
    font-family: $body-family;
    font-size: $md-font-size;

    &-content {
      border: $border-width solid $border-color;

      a {
        color: $dark-color;
      }
    }
  }

  &-menu {
    box-shadow: none;
    padding: $spacer-2 0;

    & &-item a {
      padding: $spacer * 1.75 $spacer-4; // 7px

      &.ui-state-hover,
      &.ui-state-active {
        background-color: rgba($dark-color, 0.05);
        border: unset;
        color: $dark-color;
        margin: unset;
        text-shadow: unset;
      }

      span {
        color: $text-secondary-color;
      }
    }
  }

  &-autocomplete {
    border-radius: $md-border-radius;
    box-shadow: none;
  }
}

