.form {

  &-switch {

    .form-check-input {
      margin-top: 0;
      height: rem(25px);
      width: rem(48px);
    }
  }
}

.input-group {

  &-btn {
    border-left: 0;

    &.dropdown-toggle::after {
      @extend .fa-solid;
      @extend .fa-xs;
      border: 0;
      content: "\f078";
    }
  }
}