.offcanvas {
  transition: $md-transition;

  &-body {
    padding: $spacer-4 $spacer-3;

    @include media-breakpoint-up(md) {
      padding: $spacer-5 $spacer-4;
    }
  }

  .sidebar {
    display: block;
    height: 100%;
    position: relative;
    width: 100%;
  }
}
