
body.rails_admin .table {
  margin-left: -$spacer-3;
  margin-right: -$spacer-3;

  .header {
    cursor: pointer;
    padding-bottom: $spacer-1;
    padding-left: $spacer-3;
    padding-right: $spacer-7;
    position: relative;

    &:after {
      @extend .fa-solid;
      @extend .fa-xs;
      border: unset;
      content: "\f077";
      float: unset;
      margin-top: unset;
      position: absolute;
      right: rem(25px);
      top: 50%;
    }
  }

  .headerSortUp::after {
    @extend .fa-solid;
    @extend .fa-xs;
    content: "\f078";
    position: absolute;
    right: rem(25px);
    top: 50%;
  }

  td {
    padding: $spacer-1 $spacer-3;
  }

  th  {
    padding-bottom: $spacer-1;
    padding-left: $spacer-3;
    padding-right: $spacer-3;
    padding-top: 0;
  }

  & > :not(:first-child) {
    border-top: rem(1px) solid $border-color;
  }

  .last {
    background-color: $white;
    z-index: 2;
  }

  .sticky {
    background-color: $white;
    z-index: 1;
  }
}