.tile {
  display: flex;
  justify-content: center;
  align-items: center;

  &-xs {
    border-radius: $sm-border-radius;
    font-size: $xs-font-size;
    height: rem(24px);
    width: rem(24px);
  }

  &-primary {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: $primary-gradient;
    color: $white;
  }
}
