<%
  config = field.associated_model_config
  collection = config.abstract_model.model.all.map { |obj| [obj.send(config.object_label_method), obj.id] }
%>

<div class="row gy-3 gy-md-0">
  <div class="col-24 col-md-15 col-xl-8">
    <input name="<%= form.dom_name(field) %>" type="hidden" />
    <%= form.select field.method_name, collection, { selected: field.form_value }, field.html_attributes.reverse_merge({ data: { filteringmultiselect: true, options: {}.to_json }, multiple: true }) %>
  </div>
  <% if authorized?(:new, config.abstract_model) && field.inline_add %>
    <div class="col-auto modal-actions">
      <% path_hash = { model_name: config.abstract_model.to_param, modal: true }.merge!(field.associated_prepopulate_params) %>
      <%= link_to "<i class=\"fas fa-plus\"></i> ".html_safe + wording_for(:link, :new, config.abstract_model), '#', data: { link: new_path(path_hash) }, class: "create btn btn-white" %>
    </div>
  <% end %>
</div>